Package: jump-start-website
Version: 1.0
Section: web
Priority: optional
Architecture: all
Maintainer: Paul Carrick <paul@paul-carrick.com>
Depends: ruby, nodejs, bundler, git, postgresql, libpq-dev
Description: An app that simplifies the creation of a website.
 Jump Start Server is a rails app that permite the creation of a website without any coding.
